{% extends 'base.html.twig' %}

{% block title %}{{ server.serverName }}{% endblock %}

{% block body %}
 <h1>Server: {{ server.serverName|title }}</h1>
 <p>App Version: {{ server.applicationVersion|capitalize }}</p>
 <hr>
 <a href="/">Go Back</a>
{% endblock %}